

    .calendar-header {
        text-align: center; 
        margin: 30px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .calendar-header a {
        color: black;
        text-decoration: none;
        margin: 0 30px;
    }

    .calendar-table {
        width: 80%;
        border-collapse: collapse;
    }

    .calendar-table th {
        height: 40px;
        border-bottom: 1px solid #444;
    }

    .calendar-table td {
        width: 14.2%;
        height: 110px;
        vertical-align: top;
        padding: 10px;
        border-bottom: 1px solid #333;
    }
    .today{
        display:inline-flex;

        width:30px;
        height:30px;

        border-radius:50%;

        justify-content:center;
        align-items:center;

        background-color: #4a67ff;
        font-weight: bold;
    }
    .sun {
        color: red;
    }

    .sat {
        color: blue;
    }
    /* 모달 배경 */
    .modal{

        display:none;

        position:fixed;

        inset:0;

        background:rgba(0,0,0,0.35);

        justify-content:center;
        align-items:center;

        z-index:9999;
    }

    /* 모달 박스 */
    .modal-content{

        width:350px;

        background:white;

        border-radius:20px;

        padding:15px;

        box-shadow:0 10px 30px rgba(0,0,0,0.2);
    }

    .modal-title{

        text-align:center;

        font-size:28px;
        font-weight:bold;

        margin-bottom:30px;
    }

    /* select 영역 */
    .select-wrap{

        display:flex;

        justify-content:center;

        gap:30px;

        margin-top: 15px;

        margin-bottom:35px;
    }

    /* select */
    .select-wrap select{

        width:150px;
        height:55px;

        border:1px solid #ddd;

        border-radius:10px;

        font-size:18px;

        padding:0 10px;

        outline:none;
    }

    /* 버튼 영역 */
    .btn-area{

        display:flex;

        gap:15px;
    }

    /* 버튼 */
    .btn-area button{

        flex:1;

        height:50px;

        border:none;

        border-radius:12px;

        font-size:18px;
        font-weight:bold;

        cursor:pointer;

        transition:0.2s;
    }

    /* 취소 버튼 */
    .btn-area button:first-child{

        background:#e5e7eb;

        color:#333;
    }

    /* 확인 버튼 */
    .btn-area button:last-child{

        background:#4a67ff;

        color:white;
    }

    /* hover */
    .btn-area button:hover{

        opacity:0.9;
    }
    .bottom-btn{

        position:fixed;

        right:40px;
        bottom:40px;

        width:60px;
        height:60px;

        border:none;

        border-radius:50%;

        background:#4a67ff;

        color:white;

        font-size:40px;

        cursor:pointer;

        box-shadow:0 5px 15px rgba(0,0,0,0.2);

        transition:0.2s;
    }
    .bottom-menu{

        display:none;

        position:fixed;

        right:40px;
        bottom:115px;

        width:180px;

        padding:12px 0;

        border-radius:18px;

        background:white;

        box-shadow:0 5px 20px rgba(0,0,0,0.25);

        overflow:hidden;

        z-index:999;
    }

    .bottom-menu.active{

        display:block;
    }

    .bottom-menu button{

        display:flex;

        align-items:center;

        gap:12px;

        width:100%;

        padding:10px 15px;

        border:none;

        background:none;

        color:#4a67ff;

        font-size:18px;

        cursor:pointer;

        transition:0.2s;
    }
