<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.DcalendarDAO">
	
	<select id="selectDept"
            parameterType="int"
            resultType="schedule">
        select c.id, d.dname, d.deptno, c.title, c.start, c.end 
        from dcalendar c
        join dept d on c.deptno = d.deptno
        where deptno = #{deptno}
        order by c.start
    </select>

</mapper>