<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.DcalendarDAO">
	
    <!-- 부서별 스케쥴 확인 -->
	<select id="selectDept"
            parameterType="int"
            resultType="schedule">
        select c.id, d.dname, d.deptno, c.title, c.start, c.end 
        from dcalendar c
        join dept d on c.deptno = d.deptno
        where c.deptno = #{deptno}
        order by c.start
    </select>

    <!-- 입력받은 일정 DB에 저장 -->
    <insert id="insert"
            parameterType="schedule">
        insert into dcalendar ( id, deptno, title, start, end )
        values ( "C0015", #{deptno}, #{title}, #{start}, #{end} )
    </insert>

    <!-- 전체 부서 스케쥴 확인하기 -->
    <select id="selectAll"
            resultType="schedule">
        select c.id, d.dname, d.deptno, c.title, c.start, c.end 
        from dcalendar c
        join dept d on c.deptno = d.deptno
        order by c.start
    </select>

</mapper>