<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.JobPositionDAO">
	
    <!-- 모든 직급 정보 불러오기 -->
    <select id="allJob"
            resultType="job">
        select * from job_position
    </select>

    <!-- 직급별 사원 수 조회 -->
    <select id="position_cnt"
            resultType="java.util.Map">
        SELECT p.sajob,
        COUNT(s.sabun) cnt
        FROM job_position p
        LEFT JOIN sawon s
        ON p.sajob = s.sajob
        GROUP BY p.sajob;
    </select>

    <!-- 직급 갯수 조회 -->
    <select id="job_cnt"
            resultType="int">
        select count(job_id) cnt from job_position
    </select>
    
</mapper>