<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.JobPositionDAO">
	
    <!-- 모든 직급 정보 불러오기 -->
    <select id="allJob"
            resultType="job">
        select * from job_position
    </select>
    
</mapper>