<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.TADAO">
    
    <!-- 근태 마감후 테이블에 정산된 값 넣기 -->
    <insert id="insertClosedAttendance"
            parameterType="salaryclosed">
        INSERT INTO salary_closed_attendance(
            closed_ym, sabun, standard_days, worked_days, absence_days, leave_days,
            overtime_hours, status, updated_at)
        VALUES( #{closed_ym}, #{sabun}, #{standard_days}, #{worked_days}, #{absence_days}, #{leave_days},
            #{overtime_hours}, '완료', NOW() )
        ON DUPLICATE KEY UPDATE
            worked_days = #{worked_days},
            absence_days = #{absence_days},
            overtime_hours = #{overtime_hours},
            status = "완료"
    </insert>

    <!-- 근태 마감 후 월급 명세서 테이블에 정산된 값 넣기 -->
    <insert id="insertSalaryLedger"
            parameterType="ledger">
        INSERT INTO salary_ledger(
            pay_ym, sabun, base_pay, overtime_pay, meal_pay,
            national_pension, health_insurance, long_term_care, employment_insurance,
            income_tax, local_income_tax, net_pay, status
        )
        VALUES (
            #{pay_ym}, #{sabun}, #{base_pay}, #{overtime_pay}, #{meal_pay},
            #{national_pension}, #{health_insurance}, #{long_term_care}, #{employment_insurance},
            #{income_tax}, #{local_income_tax}, #{net_pay}, '대기'
        )
    </insert>

    <!-- 사원의 가장 최근 근로 계약 정보 조회하기 -->
    <select id="getContractBySabun"
            parameterType="int"
            resultType="contract">
        select base_salary,
               meal_allowance,
        from salary_contract
        where sabun = #{sabun}
            and (end_date is not null and now() between start_date)
            and (end_date is null and now() &gt;= start_date)
        order by created_at DESC 
        limit 1
    </select>

    <!-- 새로운 근로 계약 정보 등록 -->
    <insert id="insertContract"
            parameterType="contract">
        insert into salary_contract( sabun, base_salary, meal_allowance, start_date, end_date )
        values( #{sabun}, #{base_salary}, #{meal_allowance}, #{start_date}, #{end_date} )
    </insert>
    
</mapper>