<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.SawonDAO">
	
	<select id = "sawonList"
            resultType="sawon">
        select * from sawon
    </select>

    <!-- 사원별 정보 조회 -->
    <select id="sawonView"
            parameterType="int"
            resultType="sawon">
        select * from sawon where sabun = #{sabun}
    </select>

    <!-- 사원 추가 -->
    <insert id="sawonInsert" parameterType="sawon">
        insert into sawon values(
            #{sabun},
            #{saname},
            #{deptno},
            #{pwd},
            #{sapay},
            #{sajob},
            #{sahire},
            #{saemail},
            #{satel},
            #{saaddr},
            #{sazipcode}
        )
    </insert>

    

</mapper>