<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.SleaveDAO">
	
	<select id="sawonLeave"
            resultType="sleave">
        select * from sleave where sabun = #{sabun}
    </select>

    <!-- 사원 추가 하며 기본 연차 추가 -->
    <insert id="sleaveInsert" parameterType="sleave">
        insert into sleave values (#{sabun}, 15.0, 0, 0, 0);
    </insert>

</mapper>