<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.dao.TADAO">
	
    <select id="selectToday" parameterType="int" resultType="ta">
        select 
            sabun,
            date_format(day, '%Y-%m-%d') as day,
            date_format(checkin, '%H:%i:%s') as checkin,
            date_format(checkout, '%H:%i:%s') as checkout
        from ta
        where sabun = #{sabun}
        and date(day) = curdate()
    </select>

    <insert id="checkIn" 
            parameterType="int">
        insert into ta(sabun, day, checkin)
        values(#{sabun}, now(), now())
    </insert>

    <update id="checkOut" 
            parameterType="int">
        update ta
        set checkout = now()
        where sabun = #{sabun}
        and date(day) = curdate()
    </update>

    <select id="selectList" parameterType="int" resultType="ta">
        select 
            sabun,
            date_format(day, '%Y-%m-%d') as day,
            date_format(checkin, '%H:%i:%s') as checkin,
            date_format(checkout, '%H:%i:%s') as checkout
        from ta
        where sabun = #{sabun}
        order by day desc
    </select>
    
</mapper>